#contact-form-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    height: fit-content;
}
#contact-form-wrapper > section:first-child{
    grid-column: 1 / 3;
}
#contact-page section{
    display: flex;
    flex-direction: column;
}
#contact-page #info-section{
    flex: 1.5;
    gap: 0.6rem;
    
    
    

    
}

#contact-page #contact-recommend{
    color: rgba(216, 255, 229, 0.705);
    font-size: 0.8rem;
    padding: 1rem;
    background-color: rgba(43, 48, 46, 0.541);
    border: 1px solid rgb(49, 49, 49);
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.2rem;
    height: fit-content;
    
}
#contact-page #info-section h4{
    font-size: 0.9rem;
    color:var(--primary-text);
    font-weight: 400;
}
#contact-page #form-section{
    flex: 1;   
    gap: 1rem;
}
#contact-page #form-section h2{
    color: rgb(241, 241, 241);
    margin-bottom: 0.4rem;
    font-weight: 600;
    
}
#contact-page #form-section p{
    color: var(--primary-text);
    margin-bottom: 1rem;
    
}
#contact-page #form-section textarea{
    display: block;
    height: 6rem;
    width: 100%;
    resize: none;
    font-family: inherit;
   
}
#contact-page #form-section .form-inputs{
    font-size: 0.8rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
    border: none;
    color: rgb(236, 236, 236);
    background-color: rgba(41, 41, 41, 0.473);
    transition: 0.2s  linear;
    font-family: inherit;
    
    
}
#contact-page #form-section .form-inputs:focus{
    outline: none;
    background-color: rgba(128, 128, 128, 0.199);
}

#contact-page #form-section #send-message-button{
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    background-color: rgb(88, 179, 148);
    border-radius: 0.2rem;
    transition: 0.2s;
    color: white;
    font-family: inherit;
    width: fit-content;
}
#contact-page #form-section #send-message-button:hover{
    background-color: rgb(100, 204, 169);
}
#contact-page #form-section #send-message-button:active{
    background-color: rgb(177, 255, 229);
}
#contact-page #social-links{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
#contact-page #social-links .social-link{
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: rgb(124, 124, 124);
    transition: 0.2s ease-in;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    z-index: 1;
   
   
    
}
#contact-page #social-links .social-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 0rem;
    width: 0rem;
    background-color: rgba(255, 255, 255, 0.233);
    transition: 0.2s ease-in-out;
    border-radius: 1.5rem;
    z-index: -1;
    
    
}
#contact-page #social-links .social-link:hover{
    color: whitesmoke;
}
#contact-page #social-links .social-link:hover::before{
    height: 3rem;
    width: 3rem;

}
@media screen and (max-width:768px) {
    #contact-form-wrapper{
        display: flex;
        flex-direction: column;
    }
    #contact-page #form-section{
        padding: 0rem 0rem 1rem 0rem;
    }
    #contact-page #social-links{
        justify-content: center;
        margin-bottom: 1rem;
    }
    
}
