#contact-form-wrapper{
    height: 100%;
    display: flex;
    gap: 2rem;
}
#contact-page section{
    display: flex;
    flex-direction: column;
}
#contact-page #info-section{
    flex: 1.5;
    gap: 0.6rem;
    
}
#contact-page #info-section h1{
    font-size: 3rem;
    color: whitesmoke;
}
#contact-page #contact-recommend{
    color: rgba(216, 255, 229, 0.705);
    font-size: 0.9rem;
    font-style: italic;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.171);
    border: 1px solid rgb(49, 49, 49);
    font-weight: 300;
    letter-spacing: 1px;
}
#contact-page #info-section h4{
    font-size: 1rem;
    color:var(--primary-text);
    font-weight: 400;
}
#contact-page #form-section{
    flex: 1;   
    gap: 1rem;
}
#contact-page #form-section h2{
    color: rgb(241, 241, 241);
    margin-bottom: 0.4rem;
    font-weight: 600;
    
}
#contact-page #form-section p{
    color: var(--primary-text);
    margin-bottom: 1rem;
    
}
#contact-page #form-section textarea{
    display: block;
    height: 10rem;
    width: 100%;
    resize: none;
    
   
}
#contact-page #form-section .form-inputs{
    font-size: 0.9rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: 1px solid rgba(128, 128, 128, 0.425);
    color: rgb(236, 236, 236);
    background-color: rgba(0, 0, 0, 0.199);
    transition: 0.2s  linear;
    
    
}
#contact-page #form-section .form-inputs:focus{
    box-shadow:1px 1px 5px 1px rgba(127, 255, 212, 0.432),-1px -1px 5px 1px rgba(127, 255, 212, 0.438)
}

#contact-page #form-section #send-message-button{
    font-size: 1rem;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 0.5rem;
    transition: 0.2s;
    color: black;
}
#contact-page #form-section #send-message-button:hover{
    background-color: rgb(96, 184, 154);
}
#contact-page #form-section #send-message-button:active{
    background-color: rgb(177, 255, 229);
}
#contact-page #social-links{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
#contact-page #social-links .social-link{
    height: 3rem;
    width: 3rem;
    background-color: rgba(155, 155, 155, 0.13);
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: gray;
    transition: 0.2s ease-in;
    cursor: pointer;
}
#contact-page #social-links .social-link:hover{
    color: rgb(214, 214, 214);
    background-color: rgb(63, 63, 63);
}
@media screen and (max-width:768px) {
    #contact-form-wrapper{
        flex-direction: column;
    }
    #contact-page #form-section{
        padding: 0rem 0rem 1rem 0rem;
    }
    
}
