#home-content {
  width: 50%;
  text-align: center;
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
#home-content #open-to-work {
  margin: auto;
  color: rgb(196, 196, 196);
  border: 1px solid rgba(128, 128, 128, 0.425);
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  position: relative;
}
#open-to-work #green-light {
  display: flex;
  align-items: center;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 1rem;
  animation: light-animation 2s step-end 1 normal forwards;
}
@keyframes light-animation {
  0% {
    background-color: rgb(138, 138, 138);
  }

  100% {
    background-color: rgb(94, 255, 31);
    box-shadow: rgba(145, 255, 0, 0.596) 0px 0px 8px 3px,
      rgba(145, 255, 0, 0.596) 0px 0px 8px 3px;
  }
}

#open-to-work #open-to-work-text {
  position: relative;
  left: 1.25rem;
  margin-right: 1rem;
}
#home-content > section {
  display: flex;
}

#short-intro {
  font-size: 3em;
  color: rgb(224, 224, 224);
  font-weight: 500;
  margin: 0.5em 0rem;
}
#short-intro span {
  color: aquamarine;
}
#home-action {
  display: flex;
  justify-content: center;
}

#home-action > .home-buttons {
  padding: 0.5em 1.8em;
  font-size: 1.2em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}
#home-action > .home-buttons > span {
  font-size: 1.4em;
  margin-left: 0.1em;
}
#github-button {
  color: rgb(255, 255, 255);
  background:rgb(58, 58, 58);
  border: 1px solid rgba(128, 128, 128, 0.514);
  
}
#linkedin-button {
  background:#006b62;
  color: rgb(255, 255, 255);
  margin-right: 1em;
  border: 1px solid rgba(50, 255, 187, 0.555);
  
}

@media screen and (max-width: 540px) {
  #home-content {
    width: 90%;
    font-size: 0.8rem;
  }

  #home-action > .home-buttons {
    font-size: 1.5em;
    padding: 12px 20px;
  }
  #short-intro {
    margin-bottom: 3rem;
  }
}
