#mobile-nav{
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 70vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: 0.2s transform ease-in-out;
    display: none;    
}
#mobile-nav .active{
    color: aquamarine!important;
}
#mobile-logo{
    height: 5rem;
    margin: 1rem;
    margin-bottom: 0rem;
}
#mobile-nav > section:first-child{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    text-align: center;
}
#mobile-nav > section:first-child h5{
    text-align: center;
    font-size: 1.6rem;
    color: rgb(204, 204, 204);
    font-weight: normal;
}
#mobile-nav > section:first-child p{
    color: rgb(85, 85, 85);
}
#mobile-nav > section:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    
}
#mobile-nav > section:nth-child(2){
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
   
    
}
#mobile-nav > section:nth-child(2)  a{
    padding: 1rem;
    width: 100%;
    color: rgb(192, 192, 192);
    font-size: 1.2rem;
    text-align: center;
    
    
}
#resume-button-mobile{
    display: block;
    background: linear-gradient(135deg, rgb(0, 163, 163), #008f53e1);
    color: white;
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
#resume-button-mobile span{
    font-size: 1.5rem;
    position: relative;
    top: 0.3rem;
}
#close-button{
    color: rgb(212, 212, 212);
    font-size: 1.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#social-links-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
    
}
#social-links-mobile a{
    color: rgba(175, 175, 175, 0.74);
    font-size: 1.6rem;
}
@media screen and (max-width:768px){
    #mobile-nav{
        display: flex;
    }
}
