#main-nav {
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
  
}
#main-nav-content{
  width: 100%;
  max-width: 1500px;
  display: flex;
  margin: auto;
  padding: 0.8rem 2rem;
  align-items: center;
  justify-content: space-between;
}
#main-nav-content > section{
  
}
#main-nav  #nav-items {
  flex: 1;
  gap: 1rem;
}
#main-nav .active{
  color: aquamarine!important;
}
#main-logo {
  width: 8rem;
  height: 3rem;
}

.nav-item {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(192, 192, 192);
  font-weight: 400;
  padding: 0rem 0.5rem;
  transition: 0.2s ease-in-out;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
}

#resume-button {
  background: linear-gradient(135deg, rgb(0, 163, 163), #008f53e1);
  color: rgb(255, 255, 255);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  font-weight: 300;
  height: 100%;
  
}
#resume-button span{
  margin-left: 0.2rem;
  position: relative;
  top: 0.1rem;
}

#talk-button{
    display: flex;
    justify-content: center;
    padding: 0.6rem 1rem;
    background-color: rgba(128, 128, 128, 0.432);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 300;
    height: 100%;
    width: 7rem;
    
}
#open-sidenav-button {
  display: none;
  font-size: 1.8rem;
  position: relative;
  top: 0.3rem;
  color: white;
}
@media screen and (max-width: 768px) {
  #nav-items {
    display: none;
  }
  #open-sidenav-button {
    display: block;
  }
}
