#main-nav {
  color: white; 
  position: sticky;
  top: 1px;
  border-bottom: 1px solid #353535;
  background-color: black;
  z-index: 5;
}
#main-nav-content{
  width: 100%;
  max-width: 1500px;
  display: flex;
  margin: 0.5rem auto;
  padding: 0.25rem 1rem;
  align-items: center;
  justify-content: space-between;;
}

#main-nav  #nav-items {
  flex: 1;
  gap: 1rem;
}
#main-nav .active{
  color: aquamarine!important;
}


.nav-item {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(192, 192, 192);
  font-weight: 400;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  
}

.nav-item:hover {
  color: rgb(255, 255, 255);
}



#open-sidenav-button {
  display: none;
  font-size: 1.8rem;
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgb(204, 204, 204);
  height: fit-content;
  background-color: rgba(73, 73, 73, 0.493);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  

}

@media screen and (max-width: 768px) {
  
  #main-nav-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;  
    padding: 0rem;
    margin: 0rem;
  }
  #main-nav-content >*:not(#nav-items){
    margin: 0.5rem;
  }
  #main-nav-content >#nav-items{
    padding: 0.75rem 0.37rem;
    order: 3;
    grid-column: span 2;
    gap: 0.5rem;
    overflow: auto;
    display: flex;
    justify-content: space-around;
  }
 
  #resume-button{
    justify-self: end;
  }
  
}
