#projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  height: fit-content;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background-color: #171717;
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.521);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
 
}

.project-card .image-section {
  flex: 1;
  background-color: black;
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.521);
  overflow: hidden;
}
.project-card .image-section img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(1) brightness(0.5);
}
.project-card .info-section {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.project-card h1 {
  color:var(--primary-color);
  font-weight: 500;
  font-size: 1.2rem;
}
.project-card p {
  color: rgb(204, 204, 204);
  font-size: 0.9rem;
}
.card-actions {
  display: flex;
  padding-top: 1rem;
  gap: 0.5rem;
  

  
}
.card-actions a {
  font-size: 1.25rem;
  background-color: rgba(66, 66, 66, 0.5);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  color: rgb(146, 146, 146);
  transition: 0.2s;
  border: 1px solid rgba(105, 105, 105, 0.5);
  cursor: pointer;
  
}
.card-actions a:hover {
  color: rgb(224, 224, 224);
  background-color: rgb(94, 94, 94);
}
.project-card #tags-section{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.project-card .tag{
    color: whitesmoke;
    font-size: 0.8rem;
    border: 1px solid var(--card-border-color);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
}

#project-filter {
  border: 1px solid var(--card-border-color);
  background-color: var(--card-bg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}
#project-filter #project-filter-text {
  color: rgb(214, 214, 214);
}
#project-filter #project-filter-image {
  font-size: 1.2rem;
  position: relative;
  top: 0.1rem;
  color: rgb(197, 197, 197);
}
#project-filter:hover {
  border-color: rgba(128, 128, 128, 0.699);
}

@media screen and (max-width: 540px) {
  #projects-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
