#skills-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--card-border-color);
  border-radius: 0.5rem;
}
#skills-content header {
  border-bottom: 1px solid var(--card-border-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skills-content header button {
  background-color: transparent;
  font-size: 1.2rem;
  color: rgb(175, 175, 175);
  &:hover {
    color: white;
  }
}
#skills-content header h1 {
  font-size: 1rem;
  color: whitesmoke;
}
#skills-content #contracted-skills {
  display: flex;
}
#skills-content #expanded-skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#skills-content #info-section {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-right: 1px solid var(--card-border-color);
}
#skills-content #info-section h2 {
  color: rgb(194, 194, 194);
  font-size: 1.6rem;
}
#skills-content #info-section h1 {
  font-size: 1.4rem;
  font-weight: normal;
  animation: bounce 0.2s ease forwards;
  color: #3ecf8e;
  display: inline-block;
  margin-right: 0.5rem;
}
#skills-content #info-section span {
  color: gray;
  animation: fade 0.2s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  font-size: 1rem;
}
@keyframes bounce {
  0% {
    transform: translateY(20px);
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#skills-content #slider-section {
  display: flex;
  flex: 3;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  &:hover .group {
    animation-play-state: paused;
  }
}

#skills-content .group {
  display: flex;
  will-change: transform;
  animation: scrolling 15s linear infinite;
  gap: 2rem;
  padding: 0.5rem 0rem;
  padding-right: 2rem;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.skill-box {
  box-shadow: 0 0 1px 1px var(--card-border-color);
  height: 5rem;
  overflow: hidden;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-bg-color);
  flex-shrink: 0;
  transition: 0.5s ease-out;
  gap: 1rem;
  filter: grayscale(1);
  
}
.skill-box:hover{
  filter: none;
  transition: none;
  background-color: rgba(0, 255, 0, 0.137);
  box-shadow: 0 0 2px 1px rgb(255, 255, 255);
}

.skill-box .image-section {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.skill-box .image-section img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  
}
.skill-box .info-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skill-box .info-section h4 {
  color: rgb(223, 223, 223);
}
.skill-box .info-section p {
  color: gray;
}
@media screen and (max-width: 1080px) {
  #skills-content #expanded-skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #skills-content #expanded-skills {
    grid-template-columns: repeat(2, 1fr);
  }
  #skills-content #info-section{
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #skills-content #expanded-skills {
    grid-template-columns: repeat(1, 1fr);
  }
  
  
}
