main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#content{
  font-size: 5rem;
  flex: 1;
  background:radial-gradient(rgb(28, 59, 58),rgb(0, 0, 0));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  overflow: hidden;
}

#content >*{
  margin: auto;
  max-width: 1500px;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;  
}